<div class="row">

  <table class="table is-full" style="width: 100%">
    <tr>
      <th>Equipo</th>
      <th>Acciones</th>
    </tr>

    <tr>
      <td>Muestra</td>
      <td class="alertDelete">
        <button class="btn btn-outline-info my-2"><i class="fas fa-trash"></i> </button>
        <button class="btn btn-outline-info my-2"><i class="fas fa-edit"></i></button>
        <button class="btn btn-outline-info my-2"><i class="fas fa-list"></i></button>
        <button class="btn btn-outline-info my-2"><i class="fas fa-plus"></i>Agregar miembros</button>
      </td>
    </tr>
  </table>

  <div>
    <button routerLink='/teams/add' class="btn btn-outline-info my-2 my-sm-0"><i class="fas fa-plus"></i>Agregar Equipo</button>
  </div>

</div>
