<div class="container-fluid">

    <form>
      <div class="form-group">
        <label for="member_name">Nombre</label>
        <input type="text" class="form-control" id="member_name" placeholder="">
      </div>

      <div class="form-group">
        <label for="e_mail">E-mail</label>
        <input type="mail" class="form-control" id="e_mail" placeholder="">
      </div>

      <div class="form-group">
        <label for="team">Equipo</label>
        <select class="form-control" id="team">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <button type="submit" class="btn btn-info">Agregar</button>
    </form>

</div>
