<div class="row">

  <table class="table is-full" style="width: 100%">
    <tr>
      <th>Miembro</th>
      <th>Team</th>
      <th>Acciones</th>
    </tr>

    <tr *ngFor="let m of allMembers">
      <td>{{m.member_name}}</td>
      <td>{{m.team_id}}</td>
      <td>
        <button class="btn btn-outline-info my-2"><i class="fas fa-trash"></i></button>
        <button class="btn btn-outline-info my-2"><i class="fas fa-edit"></i></button>
        <button class="btn btn-outline-info my-2"><i class="fas fa-list"></i></button>
      </td>
    </tr>
  </table>

  <div>
    <button routerLink='/members/add' class="btn btn-outline-info my-2 my-sm-0"><i class="fas fa-plus"></i>Agregar Miembro</button>
  </div>

</div>
